@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 255 255 252;
    --color-secondary: 96 76 249;
    --color-accent: 72 79 174;
  }
}

:root {
  --foreground-rgb: 255, 255, 252;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer components {
  input, textarea, select {
    @apply px-5 py-2 rounded-sm text-black w-full border-slate-300 border-[0.5px] placeholder:italic
  }
  h2 {
  @apply text-2xl
  }
  h3 {
  @apply text-xl
  }
  h4 { 
  @apply text-lg
  }
  h1 {
  @apply text-3xl
  }
  h5 {
  @apply text-base
  }
  h6 {
  @apply text-sm
  }
  /* ... */
}


.customerLoader { 

  transition: opacity 0.75s, visibility 0.75s;

  }
  .customerLoader-hidden {
  
  }

  .customerLoader::after {
  content: '';
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: #7449f5;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
  }
  @keyframes loading { 
  from { transform: rotate(0turn); }
  to {
  transform: rotate(1turn); }
  }


  /* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
input[type=checkbox] {
   width: 24px;
   height: 24px;
}

.has-tooltip {
@apply relative inline-block;
}
.has-tooltip:hover .tooltip {
  @apply hidden lg:block lg:visible;
}
.has-tooltip .tooltip {
  @apply hidden lg:block invisible z-30 text-center absolute w-fit bottom-full left-[50%] -ml-8 rounded shadow-lg p-1 bg-gray-100 -mt-8;
}
.tablerow .action {
@apply lg:invisible
}
.tablerow:hover .action {
@apply visible;
}

@keyframes pulse {
50% {
  opacity: .5;
}
}
.animate-pulse {
animation: pulse 2s cubic-bezier(0.4,0,0.6,1) infinite;
}
