@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 255 255 252;
    --color-secondary: 96 76 249;
    --color-accent: 72 79 174;
  }
}

:root {
  --foreground-rgb: 255, 255, 252;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer components {
  input, textarea {
    @apply px-5 py-2 rounded-sm text-black w-full border-slate-300 border-[0.5px]
  }
  /* ... */
}

.customerLoader { 

  transition: opacity 0.75s, visibility 0.75s;

  }
  .customerLoader-hidden {
  
  }

  .customerLoader::after {
  content: '';
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: #7449f5;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
  }
  @keyframes loading { 
  from { transform: rotate(0turn); }
  to {
  transform: rotate(1turn); }
  }